@model User

@{
    ViewBag.Title = "Create User";
}

@section head
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>User</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.VendorCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VendorCode)
            @Html.ValidationMessageFor(model => model.VendorCode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedTime)
            @Html.ValidationMessageFor(model => model.CreatedTime)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedTime)
            @Html.ValidationMessageFor(model => model.ModifiedTime)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
