@model OrderShipBill

<div>
    <ul>
        <li>@Model.ShipAddress.Company</li>
        <li>@Model.ShipAddress.Address1</li>
        <li>@Model.ShipAddress.Attention</li>
        <li>@Model.ShipAddress.CityTown</li>
        <li>@Model.ShipAddress.Country</li>
        <li>@Model.ShipAddress.Email</li>
        <li>@Model.ShipAddress.Fax</li>
        <li>@Model.ShipAddress.Phone</li>
        <li>@Model.ShipAddress.State</li>
        <li>@Model.ShipAddress.Remark</li>
    </ul>
</div>

<div>
    <ul>
        <li>@Model.BillAddress.Company</li>
        <li>@Model.BillAddress.Address1</li>
        <li>@Model.BillAddress.Attention</li>
        <li>@Model.BillAddress.CityTown</li>
        <li>@Model.BillAddress.Country</li>
        <li>@Model.BillAddress.Email</li>
        <li>@Model.BillAddress.Fax</li>
        <li>@Model.BillAddress.Phone</li>
        <li>@Model.BillAddress.State</li>
        <li>@Model.BillAddress.Remark</li>
    </ul>
</div>